export(check_deviation_set)
export(create_curve_set)
export(deviation)
export(envelope_to_curve_set)
export(estimate_K_f)
export(estimate_L_f)
export(estimate_p_value.default)
export(is.curve_set)
export(is.deviation_set)
export(random_labelling_K_f)
export(random_labelling_L_f)
export(random_labelling_test)
export(scale_curves)
export(scaled_deviation_test)
import(fastdepth)
importFrom(marksummary,summ_func)
importFrom(marksummary,summ_func_random_labelling)
