export(as_quantile_envelope)
export(check_deviation_set)
export(create_curve_set)
export(crop_curves)
export(deviation)
export(envelope_to_curve_set)
export(estimate_K_f)
export(estimate_L_f)
export(estimate_p_value)
export(estimate_p_value.default)
export(is.curve_set)
export(is.deviation_set)
export(normal_envelope)
export(random_labelling_K_f)
export(random_labelling_L_f)
export(random_labelling_test)
export(rank_envelope)
export(residual)
export(scale_curves)
export(scaled_deviation_test)
export(sd_envelope)
importFrom(fastdepth,isd)
importFrom(fastdepth,mbd)
importFrom(fastdepth,mhrd)
importFrom(fastdepth,misd)
importFrom(fastdepth,mmhrd)
importFrom(marksummary,summ_func)
importFrom(marksummary,summ_func_random_labelling)
importFrom(mvtnorm,rmvnorm)
